#login-body{
	background-color:#fafafa;
}
#login-logo{
	height:120px;
	margin-left:20px;
}
#login-main{
	background:url("/EMSystem/pic/login/login-2-2.png") no-repeat 0 0;
	height:460px;
}
#login-form{
	margin-left:450px;
	margin-top:50px;
	height: 200px;

}
.p-center{
	font-size: 12px;
	text-align: center;
	color:grey;
	margin-top:5px;
}
.rewidth{
	width:900px;
}
.login_description{
	width:160px;
	margin-left:180px;
}
