body,div,h1,h2,h3,h4,h5,p,a,span, ul, li,tr,td,th{
	margin: 0;
	padding: 0;
}

body {
	background-color: #f3f3f3;
	font: 12px/1.6 arial, helvetica, sans-serif;
}

/*---------header----------*/
#header-wrapper {
	background-color: #eee;
	border-bottom: 2px solid #9b0d14;;
}

#header {
	margin: 0 auto;
	height: 80px;
	width: 1000px;
	padding: 2px 2px 2px 2px;
}

#header-logo {
	padding-top: 5px;
	padding-left: 10px;
	float: left;
	cursor: pointer;
}
/*----header nav--*/
#top-nav {
	float: left;
	height: 40px;
	display: block;
	padding: 0px;
	width: 630px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 0px;
	background-color: #eee;
}

#top-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#top-nav ul li { /* width and height of the menu items */
	float: left;
	overflow: hidden;
	position: relative;
	line-height: 40px;
	text-align: center;
}

#top-nav ul li a { /* must be postioned relative  */
	position: relative;
	display: block;
	width: 90px;
	height: 40px;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

#top-nav ul li a span { /* all layers will be absolute positioned */
	position: absolute;
	left: 0;
	width: 90px;
}

#top-nav ul li a span.out {
	top: 0px;
}

#top-nav ul li a span.over {
	top: -40px;
}

#top-nav ul li a {
	color: #666;
}

#top-nav ul li a span.over {
	color: #fff;
	background-color: #9b0d14;
}

#header-side {
	position: absolute;
	top: 10px;
	right: 5px;
	width: 200px;
	height: 25px;
	margin-top: 5px;
	margin-right: 35px;
}

#header-side span {
	margin-right: 10px;
}

#header-side a {
	color: #369;
	text-decoration: none;
}

#manage-main {
	float: right;
}

#logout {
	float: right;
	width: 40px;
}

.clearfix {
	clear: both;
}

/*-------apply---main-------*/
/*
	heavy red: #a22c24;
	light red:#c75d3d;
*/
#main {
	position:relative;
	background-color: #fff;
	height: 800px;
	width: 960px;
	margin: 10px auto;
	border: 1px solid #ccc;
	
}

#main-nav-wrapper {
	background-color: #fafafa;
	float: left;
	margin: 5px;
	width: 200px;
	height: 790px;
	border: 1px solid #ddd;
}

#main-nav {
	margin: 10px 20px;
	width: 160px;
	height: 790px;
	border-top: 10px solid #ccc;
}

#main-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#main-nav ul li {
	margin-top: 10px;
	float: left;
	overflow: hidden;
	position: relative;
	line-height: 30px;
	text-align: center;
}

#main-nav ul li a {
	position: relative;
	display: block;
	width: 160px;
	height: 30px;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

.main-nav-list .highlight a {
	background: #a22c24;
	color: #fff;
}

.main-nav-list a {
	color: #fff;
	background: #c75d3d;
	transition: background .2s ease-in;
	-moz-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	-webkit-transition: background .2s ease-in;
}

.main-nav-list a:hover {
	background: #a22c24;
}



#main{
	height:960px;
}


#main-content {
	position:absolute;
	background-color: #fafafa;
	left:5px;
	margin: 5px 5px 5px 0px;
	width: 948px;
	height: 950px;
	border: 1px solid #ddd;
}
#apply-intro{
	margin:10px 20px 5px 20px;
	height:33px;
	
	font-size: 14px;
}

#apply-intro .apply-intro-title{
	float:left;
	background: #ebebeb url("jiantou.gif") no-repeat left center ;
	padding-right:20px;
	border:1px solid #bbb;
	
	line-height:32px;
	text-indent:33px;
	height:32px;
	font-weight:bold;
	color:#585858;
}

#apply-intro .apply-intro-back {
	margin-left: 20px;
	float: left;
	background-color: #D14836;
	width: 60px;
	border: 1px solid #D14836;
	line-height: 32px;
	text-align: center;
	border-radius: 5px; height : 32px;
	font-size: 13px;
	color: #FFF;
	height: 32px;
	text-decoration: none;
}
#apply-intro .apply-intro-back:hover {
	font-weight: bold;
}

#apply-details-wrapper{
	margin:10px 20px 0px 20px;
	width:910px;
	height:700px;
	border-top: 5px solid #CCC;
	
	
}


#apply-details-single{
	width:100%;
	margin-top:10px;
}
#apply-details-single table{
	margin:0 auto;
	 border-collapse: collapse;
	  width:910px;
	   height:69px;
	   background:#fff;
}
#apply-details-single td a{
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}

.a_header{
	height:30px;
	background:#d7ecf1;
	color: #585858;
}
.a_item{
	height:30px;
}
.a_doc{
	margin-left:20px;
	padding-left:20px;
	background:url("doc.gif") no-repeat left center;
}
.a_do{
	float:left;
	
}
.a_do:hover{
	color:red;
	font-weight:bold;
}
.a_preview{
	margin-left:20px;
	padding-left:20px;
	background:url("preview.gif") no-repeat left center;
}
.a_download{
	margin-left:20px;
	padding-left:20px;
	background:url("download.gif") no-repeat left center;
}
.a_edit{
	margin-left:10px;
	padding-left:17px;
	background:url("edit.gif") no-repeat left center;
}
.a_delete{
	margin-left:10px;
	padding-left:17px;
	background:url("delete.gif") no-repeat left center;
}

#apply-details-content{
	
	width:910px;
	height:550px;
	
}

#apply-iframe{
	width:650px;
	float:left;
}

#apply-iframe-nav {
	margin-top: 20px;
	width: 650px;
	height: 30px;
	padding-bottom: 1px;
}


#apply-iframe-nav ul {
	list-style: none;
}

#apply-iframe-nav ul li {
	float: left;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
}

#apply-iframe-nav ul li span {
	
	
	display: block;
	margin: 0px 10px 0px 0px;
	padding: 0px 10px 0px 10px;
	border: 1px solid #AAA; 
	border-bottom: none;
	color : #444;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
	background:#eee;
}

#apply-iframe-nav ul li span.rin-highlight {
	font-weight:bold;
	background:#fff;
}

#apply-result{
	width:240px;
	float:left;
	margin:20px 0px 0px 20px;
	font-size:14px;
}
#apply-result-content{
	
	height:400px;
	
}
#apply-result-content-nav{
	height:30px;
	border-bottom: 1px solid #AAA; 
	font-weight:bold;
}
#apply-result-content-nav p{
	
	width:80px;
	border:1px solid #AAA; 
	border-bottom:none;
	height:29px;
	text-align: center;
	line-height:29px;
	background-color:#fff;
}
#apply-result-content-main{
	border:1px solid #AAA; 
	border-top:none;
	height:410px;
}
#apply-result-content-main p{
	float:left;
	width:80px;
	padding:20px 0px 0px 10px;
}
#apply-resubmit-button{
	float:left;
	display:block;
	height:30px;
	width:100px;
	background-color: #D14836;
	border: 1px solid #B0281A;
	color:#fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	margin-left: 20px;
	margin-top: 15px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px; height : 32px;
	font-size: 13px;
	text-decoration: none;
}
#apply-result-content-text{
	height:340px;
	width:210px;
	margin-left:10px;
	float:left;
}
#apply-result-content-text textarea{
	height:300px;
	width:210px;
	
}
#apply-result-content-text p{
	float:none;
	width:100%;
	padding:20px 0px 0px 00px;
	font-size:12px;
}